#slideshow-container {
  position: relative;
  & #slideshow-container_img img {
    object-fit: contain;
  }

  & #arrow_left_svg {
    object-fit: contain;
    position: absolute;
    width: 46px;
    left: 1vw;
    transition: 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.04);
    }
  }
  & #arrow_right_svg {
    position: absolute;
    object-fit: contain;
    width: 46px;
    right: 1vw;
    transition: 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.04);
    }
  }
  & #slideshow-position {
    color: $tertiary-color;
    position: absolute;
    bottom: 2vh;
    left: 50%;
  }
}

@media only screen and (max-width: 500px) {
  #slideshow-container img {
    height: 255px;
  }
}
