#about-collapse {
  margin: 30px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  & #collapse-container {
    border-radius: 5px;

    & #collapse-container__title {
      font-size: 24px;
      font-weight: 500;
    }
  }
}