#banner-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & #banner-container__img {
    width: 100%;
    height: 223px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    filter: brightness(70%);
  }

  & #banner-container__title {
    position: absolute;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
  }
}

@media only screen and (max-width: 810px) {
  #banner-container #banner-container__title {
    font-size: 38px;
  }
}

@media only screen and (max-width: 810px) {
  #banner-container #banner-container__title {
    font-size: 38px;
    max-width: 350px;
    left: 8%;
  }
}

@media only screen and (max-width: 500px) {
  #banner-container #banner-container__title {
    font-size: 24px;
    max-width: 220px;
  }
}

@media only screen and (max-width: 400px) {
  #banner-container #banner-container__img {
    height: 111px;
  }
}
