#collapse-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: $primary-color;
  border-radius: 10px;
  margin: 0 auto;
  color: $tertiary-color;

  #dropdown_close,
  #dropdown_open {
    position: absolute;
    right: 1.3vw;
    width: 24px;
    margin: 5px auto;
    height: 24px;
    object-fit: contain;

    &:hover {
      cursor: pointer;
    }
  }

  #collapse-wrapper__title {
    h3 {
      font-size: 18px;
      padding: 6px;
      font-weight: 500;
      color: $tertiary-color;
    }
  }

  #collapse-wrapper__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    visibility: visible;
    opacity: 1;
    color: $primary-color;
    background-color: $secondary-color;
    height: auto;
    padding: 10px;
    letter-spacing: 1px;
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out,
      height 0.2s ease-in-out;

    & p {
      font-size: 18px;
      font-weight: 400;
    }
  }

  #collapse-wrapper-content__hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

@media only screen and (max-width: 1030px) {
  #collapse-wrapper #collapse-wrapper__title h3 {
    font-size: 15px;
  }
  #collapse-wrapper #collapse-wrapper__content p {
    text-align: justify;
    font-size: 15px;
  }
}
