.gallery-container {
  background-color: $secondary-color;
  padding: 2rem;
  border-radius: 25px;
  margin: 2rem auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  gap: 3rem;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .gallery-container {
    background-color: $tertiary-color;
    padding: 0;
  }
}
